<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head.ejs') %> 
</head>
<body>
    <div id="seccion">
        <h2 style="color: blue;">Productos</h2>
        <%= list %>
    </div>
</body>
</html>